.user_table {
    margin: 20px auto;
    width: 80%;
    border: 2px solid #5a6972;
    border-radius: 8px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user_table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user_table th,
  .user_table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #5a6972;
  }
  
  .user_table th {
    background-color: #5a6972;
    color: #fff;
  }
  
  .user_table_btn {
    text-align: center;
  }
  
  .user_table_btn button {
    padding: 8px 16px;
    background-color: #8d9faa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user_table_btn button:hover {
    background-color: #454e54;
  }
  
  .user_table_btn button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  